<!DOCTYPE html>
<html>
    <body>
        <head>
            <meta charset="UTF-8">
            <title>Hire from Become GIG</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://fonts.googleapis.com/css2?family=Lato:display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
            <link rel="stylesheet" href="css/styles.css">
        </head>

        <div class="hero-image">
            <img class="avatar" src="images/avatar2.jpg" alt="Avatar" >
                <div class="hero-text">
                    <h1>I am Magico </h1>
                    <p>And I'm a <%= users[0].name%> </p>
                    <button class="button-hire">Hire me</button>
                </div>
        </div>
</body>
<%- include('./partials/footer.ejs')%>
</html>

